.header__logo {
  max-width: 142px;
  max-height: 33px;
  box-sizing: border-box;
  object-fit: cover;
}

@media screen and (max-width: 388px) {
  .header__logo {
    max-width: 103.74px;
    max-height: 24.4px;
  }
}
