.element__like {
  display: flex;
  min-width: 22px;
  height: min(100%, 19px);
  border: none;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  background-image: url(../../../images/__like_disabled.svg);
}

.element__like:hover {
  cursor: pointer;
  opacity: 0.5;
}

.element__like:active {
  background-image: url(../../../images/__like_active.svg);
}
