.form {
  display: grid;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: min(85vw, 430px);
  max-height: 330px;
  grid-row: 2/3;
  grid-column: 1/2;
  margin: 0;
  padding: 30px 36px 36.51px;
  box-sizing: border-box;
  position: relative;
  align-content: space-around;
}

@media screen and (max-width: 445px) {
  .form {
    padding: 25px 22px;
  }
}
